@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe9a0a9;
}

/* Navigation Style */

.navigation {
    height: 100px;
    background-color: #CC3636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Popppins', sans-serif;
    padding: 40px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    width: 150px;
}

.button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #FFE9A0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 1px 1px 12px 2px rgb(0, 0, 0, 0.6);
    background-color: #CC3636;
    border: 1px solid #FFE9A0;
    color: #FFE9A0;
    transition: all 0.8s ease-in-out;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

/* Heading Style */

.details {
    margin: 40px;
}

/* Images Style */

#result {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin: 40px;
}

.card img {
    height: 300px;
    width: 450px;
    margin: 10px;
    margin-bottom: 30px;
}

.card {
    position: relative;
}

.card:hover .image-content{
    opacity: 0.6;
}

.icon {
    background-color: #CC3636;
    height: 60px;
    width: 60px;
    color: #FFE9A0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info {
    position: absolute;
    top: 120px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    visibility: hidden;
}

.card:hover .card-info{
    visibility: visible;
}

/* Footer Style */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #CC3636;
}

.footer i {
    margin: 5px;
    background-color: #FFE9A0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}